$mainColor       : white;
$secondColor     : black;
$thirdColor      : #f3ccc3;
$fourColor       : red;
$instaColor      : #6aa9aa;
$facebookColor   : #f6d193;
$twitterColor    : #f7bba7;
$pintaColor      : #d8d496;
$tariffeBgColor  : #e8f3f0;
$tariffeBrdColor : #e9cba4;
$btnBorder       : #89aaad;
$triangleArrow   : #eac5ba;